In [7]:
import pandas as pd

In [8]:
restaurants = pd.read_csv("DOHMH_New_York_City_Restaurant_Inspection_Results.csv")

In [11]:
restaurants.DBA.count()

301760

In [12]:
restaurants.GRADE.count()

151652

In [15]:
restaurants.GRADE.value_counts().reset_index()

  index   GRADE
0     A  117150
1     B   17465
2     C    7311
3     N    5188
4     Z    2827
5     P    1710
6     G       1

In [24]:
MY_GRADE = "A"

a_grade_rest = restaurants[restaurants.GRADE == "A"]
b_grade_rest = restaurants[restaurants.GRADE == "B"]
c_grade_rest = restaurants[restaurants.GRADE == "C"]

In [19]:
a_grade_rest.BORO.value_counts()

Manhattan        45869
Brooklyn         28530
Queens           27456
Bronx            11058
Staten Island     4206
0                   31
Name: BORO, dtype: int64

In [25]:
b_grade_rest.BORO.value_counts()

Manhattan        6398
Brooklyn         4241
Queens           4164
Bronx            2172
Staten Island     487
0                   3
Name: BORO, dtype: int64

In [26]:
a_grade_rest["CUISINE DESCRIPTION"].value_counts()

American      25147
Chinese       10919
Coffee/Tea     7194
Pizza          6981
Italian        4992
              ...
Basque            6
Lebanese          5
Chilean           3
New French        3
Armenian          1
Name: CUISINE DESCRIPTION, Length: 87, dtype: int64

In [27]:
a_grade_rest.SCORE.mean()

9.966419120785318

In [28]:
b_grade_rest.SCORE.mean()

20.976524477526482

In [29]:
c_grade_rest.SCORE.mean()

37.87908630830256